<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-JZYXYEHQZ1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-JZYXYEHQZ1");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | EldiiarBot</title>
    <meta
      property="og:title"
      content="EldiiarBot - Web App by Eldiiar Bekbolotov | Python + LLMs"
    />
    <meta
      property="og:description"
      content="EldiiarBot is a web app created by Eldiiar Bekbolotov that combines Python and fast LLMs."
    />
    <meta property="og:url" content="https://eldiiarbot.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="EldiiarBot" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="EldiiarBot - Web App by Eldiiar Bekbolotov | Python + LLMs"
    />
    <meta
      name="twitter:description"
      content="EldiiarBot is a web app created by Eldiiar Bekbolotov that combines Python and fast LLMs."
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='site.webmanifest') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600&family=IBM+Plex+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <nav class="navrail">
      <a class="fader mlink hide"></a>
      <a class="fader mlink" style="visibility: hidden"
        ><i class="material-symbols-rounded">settings</i> Settings</a
      ><a class="fader mlink hide"></a>
      <a class="fader mlink" href="/"
        ><i class="material-symbols-rounded">home</i> Back</a
      >
      <a class="fader mlink" style="visibility: hidden"
        ><i class="material-symbols-rounded">settings</i> Settings</a
      ><a class="fader mlink hide"></a>
    </nav>
    <nav class="mobile-nav">
      <a class="fader mlink" href="/"
        ><i class="material-symbols-rounded">home</i></a
      >
    </nav>
    <div class="scene">
      <div class="splashscreen" style="text-align: center">
        <div class="middle">
          <h1>Your Fast, Free <em>AI</em> Assistant</h1>
          <p>
            EldiiarBot is a suite of AI assistants designed to help with a
            variety of everyday tasks.
          </p>
        </div>
      </div>

      <div style="padding: 20px">
        <h1><span class="material-symbols-rounded">info</span> About</h1>
        <p>
          Eldiiar Bekbolotov developed EldiiarBot as a sophomore in high school.
          You can follow him on GitHub
          <a href="https://github.com/EldiiarBekbolotov" target="_blank"
            >@EldiiarBekbolotov</a
          >, as well as find the source code for this MIT-licensed project
          there.<br /><b>First released</b>: April 2025
        </p>
        <p style="margin-bottom: 24px">
          <b>Total views since deployment: </b
          ><span class="material-symbols-rounded">visibility</span>
          {{ stats["views"] }}
        </p>
        <a href="/upvote" style="text-decoration: none"
          ><button class="vote">
            Upvote <span class="material-symbols-rounded">recommend</span> {{
            stats["upvotes"] }}
          </button></a
        >
      </div>
    </div>
    <script src="/static/js/theme.js" defer></script>
  </body>
</html>
