<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EldiiarBot</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='site.webmanifest') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600&family=IBM+Plex+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded"
    />

    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <nav class="navrail">
      <a class="fader mlink hide"></a>
      <a class="fader mlink" href="javascript:switchScene(0);">
        <i class="material-symbols-rounded">home</i>
        Home</a
      >
      <a class="fader mlink" href="/about"
        ><i class="material-symbols-rounded">info</i> About</a
      >
      <a class="fader mlink" href="javascript:switchScene(1);"
        ><i class="material-symbols-rounded">lightbulb</i> Hub</a
      >
      <a class="fader mlink" href="javascript:switchScene(2);"
        ><i class="material-symbols-rounded">settings</i> Settings</a
      ><a class="fader mlink hide"></a>
    </nav>
    <div
      class="scene"
      style="
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 80px;
        overflow: hidden;
      "
    >
      <div id="chat-box">
        <!-- Messages will appear here -->
      </div>
      <div
        id="loading"
        style="display: none; text-align: center; margin-top: 10px"
      >
        <span
          class="material-symbols-rounded"
          style="font-size: 32px; animation: spin 0.8s ease-in-out infinite"
          >loop</span
        >
        <p>Thinking...</p>
      </div>

      <div id="corpus">
        <div class="textarea-parent">
          <textarea
            class="effect-1"
            type="text"
            placeholder="Ask me anything..."
            id="user-textarea"
            autocomplete="off"
          ></textarea>
          <span class="textarea-underline"></span>
        </div>
        <button id="send-btn" class="btn">
          <span class="material-symbols-rounded">send</span>
        </button>
      </div>
    </div>

    <div class="scene" style="left: 80px; position: absolute">
      <h1 style="font-size: 90px">Hub</h1>
    </div>
    <div class="scene" style="left: 80px; position: absolute">
      <div style="padding: 45px">
        <h1>Settings</h1>
      </div>
    </div>
    <script src="/static/js/main.js" defer></script>
  </body>
</html>
